$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
.bg-parallax {
  background-image: url("/images/invitation/3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.bg-detail {
  background-image: url("/images/invitation/detail_img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.is-colored {
  color: #4C2B37;
}
.fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.sidebar-wrapper {
  padding: 20px;
  background-color: #fff;
  color: #000;
  min-height: 90vh;
}
.content-wrapper {
  padding: 20px;
}
