body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  min-height: 100vh;
	background-color: #343A40;
}
.navbar{
  border-bottom: #FFC107 2px solid;
  opacity: 0.8;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFC107;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFC107;
}
#home {
  background-image: url("../../images/portfolio/bg_home.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#knowledge {
	padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: url("../../images/portfolio/bg_knowledge.jpg");
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experience {
	padding-top: 10vh;
  background-image: url("../../images/portfolio/bg_experience.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#work {
	padding-top: 10vh;
  background-image: url("../../images/portfolio/bg_latest_work.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact {
	padding-top: 10vh;
  background-image: url("../../images/portfolio/bg_contact.jpg");
  height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.progress-lg {
  height: 1.5rem;
}
.progress-sm {
  height: 1rem;
}
footer {
  padding: 2rem;
}